img.resize {
	max-height: 150px;
}

h1 {
	margin-right: 10%;
	background-color: #ec0033;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #ff6a00;
	position: fixed;
	height: 100%;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif;
}

nav ul li a:hover{
	background-color: #ffad00;
	color: black;
}

#mainContent{
	margin-left: 220px;
	margin-right: 100px;
	font-family: 'Oswald', sans-serif; font-weight: 300;
}

.active{
	background-color: #ffad00;
	color: black;
}

@media screen and (max-width: 600px) {
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #ff6a00;
		position: fixed;
		height: auto;
	}

	nav ul li a {
		display: block;
		text-decoration: none;
		color: black;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: 'Oswald', sans-serif;
	}
	
	nav ul li {
		float: left;
	}

	#mainContent{
		margin-left: 5%;
		padding-top: 20%;
		
	}
}