p{
	color: #4c4c33;
	background-color: #ccff99;
}

h1{
	color: #4c4c33;
	background-color: #ffb299;
	text-align: center;
	border: 9px;
	border-style: dashed;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 100px;
	padding-top: 100px;
	
}

body{
	background-color: #ccff99;
}

h2{
	color: #4c4c33;
}